<extend name="Base/common"/>
<block name="body">
<!--中文-->
<script src="__PUBLIC__/Admin/Bootstrap/js/bootstrap-table-zh-CN.js" type="text/javascript" ></script>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="toolbar">
                <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    <span class="icon-plus" aria-hidden="true"></span>添加用户</div>
            </div>
            <!--表格start-->
            <table id="table" data-toggle="table"
                   data-striped ="true"
                   data-toolbar="#toolbar"
                   data-pagination="true"
                   data-page-size="8">
                <thead>
                <tr>
                    <th>ID</th>
                    <th data-field="1">用户名</th>
                    <th data-field="2">用户密码</th>
                    <th data-field="3">联系电话</th>
                    <th data-field="5">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="user" id="arr">
                    <tr>
                        <td>{$arr.userid}</td>
                        <td>{$arr.username}</td>
                        <td>{$arr.userpass}</td>
                        <td>{$arr.usertelephone}</td>
                        <td>
                            <a  class="btn btn-sm btn-danger"  href="javascript:void(0)" onclick="delInfo(this);">
                                <span class="icon-remove" aria-hidden="true"></span>删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <!--表格end-->
        </div>
    </div>

    <!--添加用户的触发框start-->
    <div class="modal fade" id="addModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" value="{$UserId}"/>
                        <label>用户名</label>
                        <input type="text"  class="form-control" id="add_name" name="add_name" placeholder="请输入用户"/>
                    </div>
                    <div class="form-group">
                        <label>用户密码</label>
                        <input type="text"  class="form-control" id="add_pwd" name="a_pwd" placeholder="请输入密码"/>
                    </div>
                    <div class="form-group">
                        <label>联系电话</label>
                        <input type="text"  class="form-control" id="add_tel" name="add_tel"   placeholder="请输入联系电话"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn  btn-success " id="btn_add" > 保存</button>
                    <button type="button" class="btn  btn-default "  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--添加用户的触发框end-->


    <!-- 删除触发框start-->
    <div class="modal fade" id="delModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">操作提示</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" name="id" id="del_id"  />
                        <span class="icon-exclamation-sign  icon-large" aria-hidden="true"></span> 你确定要删除吗？
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn  btn-primary " id="btn_del" >确定</button>
                    <button type="button" class="btn  btn-default "  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    // 触发删除模态框的同时调用此方法
    function delInfo(obj) {
    var tds = $(obj).parent().parent().find('td');
    $('#del_id').val(tds.eq(0).text());
    $('#delModal').modal('show');
    }

    //删除ajax交互
    $(function () {
        $('#btn_del').click(function (event) {
            //获取模态框数据
            var id = $('#del_id').val();
            $.ajax({
                type: "post",
                url: "__URL__/del",
                data: {UserId: id},
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (data) {
                    $('#delModal').modal('hide');
                    var obj = new Function("return" + data)();
                    alert(obj.info);
                    location.reload();
                }

            });

        });
    });
    //删除ajax交互end


    //添加用户ajax交互
    $(function(){
        $('#btn_add').click(function(event){
            //获取数据
            var id = $('#id').val();
            var name = $('#add_name').val();
            var pwd = $('#add_pwd').val();
            var tel = $('#add_tel').val();
            if(name=="" || name==null){
                alert("用户名不能为空！");
                $("#add_name").focus();
                return false;
            }
            if(pwd=="" || pwd==null){
                alert("密码不能为空！");
                $("#add_pwd").focus();
                return false;
            }
            if(tel=="" || tel==null){
                alert("联系电话不能为空！");
                $("#add_tel").focus();
                return false;
            }else if(tel.length!=11) {
                alert("电话号码必须为11位");
                $("#add_tel").focus();
                return false;
            }
            $.ajax({
                type: "post",
                url: "__URL__/create",
                data: {UserId:id,UserName:name,UserPass:pwd,UserTelephone:tel},
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function(data) {
                    $('#addModal').modal('hide');
                    var obj = new Function("return" + data)();
                    alert(obj.info);
                    //刷新
                    location.reload();
                }

            });

        });
    });
</script>
</block>