
<!-- 底部
================================================== -->
<footer>
    <div class="f_footer">
        <!--<p class="f_p1">友情链接： | 华为官网 | 华为消费者业务 | 荣耀官网 | 花粉俱乐部 | 莫塞尔商城 | 爱旅官网 | 华为应用市场 | 万表网 | 中商情报网 | 刷机精灵 | 华为手机 | 优购物官网 | 智能电视 | UC浏览器 |</p>-->
        <!--<p class="f_p1">阿里巴巴生意经 | 手机大全 | 安卓软件园 | 卓大师刷机 | 智机论坛 | 电子产品世界 | 历趣网 | 网购返利 | Apple110 | 91手机门户网 | 移动叔叔 | 奥特莱斯 | 荣耀Magic | 携程租车 | <font color="#FF0000">申请链接 >></font></p>-->
        <!--<p class="f_p2">隐私政策 服务协议 Copyright © 2012-2016 VMALL.COM 版权所有 保留一切权利</p>-->
        <p class="f_p2"> 版权所有：北京理工大学珠海学院计算机学院14级网络工程2班廖小凤&陈珊萍</font></p>
        <p class="f_p2"> 联系电话：13160678112/13160661309 |<a href="/menu/index.php/Admin/Login.html">管理中心</a></font></p>
        <!--<p class="f_p2"><img src="img/foot/2.png" /><img src="img/foot/3.png" /><img src="img/foot/4.png" /></p>-->
    </div>
</footer>


