
<title>花期酒店</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 

<!--公共样式-->
<link href="__PUBLIC__/Home/Css/public.css" rel="stylesheet"/>

<!--头部样式-->
<link href="__PUBLIC__/Home/Css/header.css" rel="stylesheet"/>

<!--主体样式-->
<link href="__PUBLIC__/Home/Css/body.css" rel="stylesheet"/>

<!--底部样式-->
<link href="__PUBLIC__/Home/Css/footer.css" rel="stylesheet"/>

<!--注册页面样式-->
<link href="__PUBLIC__/Home/Css/register.css" rel="stylesheet"/>


<!--登录页面样式-->
<!--<link href="__PUBLIC__/Home/Css/login.css" rel="stylesheet">-->

<!--菜谱页面样式-->
<link rel="stylesheet" href="__PUBLIC__/Home/Css/menu.css">

<!--RoomBook页面样式-->
<link rel="stylesheet" href="__PUBLIC__/Home/Css/roombook.css">

<!--菜谱定制样式-->
<link rel="stylesheet" href="__PUBLIC__/Home/Css/onesmenu.css">

<link href="__PUBLIC__/Home/Css/xiangqingshow.css" rel="stylesheet"/>

<!--aboutus页面样式-->
<link href="__PUBLIC__/Home/Css/aboutus.css" rel="stylesheet"/>

<script src="__PUBLIC__/Home/Bootstrap/Js/bootstrap.min.js" type="text/javascript" ></script>

<script src="__PUBLIC__/Home/Bootstrap/Js/jquery.js" type="text/javascript" ></script>

<script src="__PUBLIC__/Home/Js/lunbo.js" type="text/javascript" ></script>

<script src="__PUBLIC__/Home/Js/jquery-3.2.0.min.js" type="text/javascript" ></script>




<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
