/*详情页面css*/
.main-title {
    padding-bottom: 20px;
}
.text, .textarea {
    background-color: #fff;
    padding: 4px;
    border: 1px solid #eeeeee;
    transition: all .3s linear;
}

.input-large {
    width: 390px;
}
.item-label {
    display: block;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}
.form-horizontal .controls {
    overflow: hidden;
    padding: 5px 5px 5px 0;
}
.btn-return {
    top:10px;
    padding: 10px 50px;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    border-radius: 0px;
}
.btnStyle {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    color: #edffd1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0 none;
    background-color: #4bbd00;
}